/*common styling elements placed at bottom of page*/

body{
	font-family: sans-serif;}
a {
	color:grey;
	text-decoration:none;	 
	font-weight: bold;
	}


/*############ Header #########################*/
#banner {
	width:100%;
	border: thin solid pink;
	overflow: hidden;}
	
#menu_icon {
	float: left;
	width:10%;
	position: relative;
	cursor:pointer;
	font-size: 2em;
	border: thin solid black;
	padding: 0 0 0 1em;
}

.backbutton{
	position: absolute;
	top: 10px;
	right: 0;
}

#sync_info {
	border: thin solid blue;	
	color: #ccc;
	font-size: 0.8em;
}

#leftpanel{
	max-width: 50%;
}

.fakedarkbutton{
	border: 2px solid #000;
	border-radius: 10px;
	margin: 0.5em 0 0.5em 0;
	background-color: #ccc;
	cursor: pointer;
	height: auto;
}

@media only screen and (max-width: 560px) {
	/* Panel left open animated */
	.ui-panel-animate.ui-panel-page-content-position-left {
		left: 0;
		right: 0;
		-webkit-transform: translate3d(50%,0,0);
		-moz-transform: translate3d(50%,0,0);
		transform: translate3d(50%,0,0);
	}
}

#leftpanel img{
	max-width: 100%;
}

.ui-panel-page-content-position-left {
	/*left: -25% !important;*/
	
}

/*############ Menu - slide in #########################*/
#nav {
	height: 100%;
    width: 0;
    position: fixed;	
	background-color: #455054;
	overflow-x: hidden;	
    transition: 0.5s;} 

#nav a {
	display: block;
	max-width: 10%;	
	padding: 0.8em;
	border-bottom: thin solid #566165;}
		
#nav_modal {	/* The Modal (background) according to w3schols*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
	width: 0%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: 0.5s;}

	
	

/*############ Index page #########################*/
.conf_btn{
	text-align: left;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #eee;
	cursor: pointer;
}

.conf_btn_delete{
	border: 1px solid black;
	border-radius: 5px;
	background-color: #eee;
	cursor: pointer;
	align-items: stretch;
	display:flex;
	justify-content: center;
	line-height: 100%;
}

.fakebutton{
	background-color: #f6f6f6 /*{a-bup-background-color}*/;
	border-color: #ddd /*{a-bup-border}*/;
	color: #333 /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #f3f3f3 /*{a-bup-shadow-color}*/;
	border-radius: .3125em;
}

.fakebutton:hover{
	background-color: #ddd;
}

.conferencedeletetext{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#start_pg_bg_img {
	width:100%;	
}

.conferencelistrow{
	display:flex;
}

.conferencedeleterow{
	display:flex;
	padding: 10px;
}

/*############ Login page #########################*/

#delegate_text {
	padding-top: 15%;
	text-align: center;
}

#login_form {
	margin: auto;
	padding-top: 9%;
	text-align: center;
}

.centeralign{
	margin: auto;
	text-align:center;
}

#gdpr_terms_modal {	/* The Modal (background) according to w3schols*/
	display:none;/* Hidden by default */	
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
	width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */	
    padding: 60px;}

#gdpr_terms_sttmnt {
	background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */}

.normallink{
	color: blue !important;
	text-decoration: underline !important;
	cursor: pointer;
}


/*############ generic app page #########################*/
#home_frame {
	width:100%;}
	


	
/*############ Home #########################*/

#home_action_tabs div{
	width:49.6%;
	cursor: pointer;
}
	
#home_action_tabs img{
	width:100%;}

#home_action_tabs section{	
	overflow-x: hidden;}
	
/*more conference info view*/
#more_conference_info {	
	overflow-x: hidden;
	margin: 2em 0 2em 0;}
	
#more_conference_info img{
	max-width:100%;
	text-align:center;
}

#addr_text {
	display: inline;}
	
#less_info_btn {
    position: fixed;
    bottom: 0;
	left: 50%;	/*help keep centered*/
    margin-left:-50px;/*help keep centered*/}



/*############ find people page ############*/
#search_bar {	
	width: 93%;
    border: 1px solid #000;
    border-radius: 4px;                       /*curvy edges*/
	background-image: url('search_icon.png'); /*icon file location*/
    background-repeat: no-repeat;             /*dont repeat image*/
    background-position: right;               /*icon position*/
    background-size: 1.5em;	                  /*icon size*/
	padding: 0.5em 6% 0.5em 1%;             /*padding around the text*/}

#people_list_caption{
	text-align:right;
	color: #ccc;}	

#people_list button {
	float:left;
	width:100%;
	border: thin solid #000;
	margin: 0.5em 0 0.5em 0;
	background-color: #fff;
	cursor:pointer;}
	
#people_list p {
	float:left;
	text-align:left;
	width:80%;
	margin-left:1em;}
	
#people_list a {
	margin:1em 0.5em 0 0; /*align top with p tag's default margin*/
	float:right;
	color:blue;
	text-decoration:underline;}
	
	

/*############ agenda page ############*/
#agenda_list_caption{
	text-align:right;
	color: #ccc;}
	
#agenda_list p {
	text-align:left;
	margin-left:1em;
	font-size: 2em;}
	

/*############ manage meetings page ############*/
#meetings_list_caption{
	text-align:right;
	color: #ccc;}
	
#meetings_list button, #agenda_list button {
	float:left;
	width:100%;
	border: thin solid #000;
	border-radius: 10px;
	margin: 0.5em 0 0.5em 0;
	background-color: #ffffff;
	cursor:pointer;
	height: auto;
}
	
#meetings_list p {
	text-align:left;
	margin-left:1em;
	font-size: 2em;
}
	
/*############ All Profile pages #########################*/
#user_profile_id {
	float:left;
	width:100%;
	margin: 4em 0 2em 0;
}
#profile_photo_div {
	background-color: #ccc;
	width:40%;
	height:20em;
}
#profile_photo_div img{
	width:100%;
	height:100%;
}

input:focus::-webkit-input-placeholder {
	color: white;}
	
input::-webkit-input-placeholder {
    color: #ccc;}
	
.user_profile_form{
	font-size: 1.5em;
}
	
textarea {
	width:100%;
}

.morebutton{
	color: grey;
	font-size: 1em;
}

/*############ manage meeting page ############*/
#meeting_filter li {
	display: inline;
	margin: 0 2em 0 2em;
}

#meeting_filter a {
	text-decoration:none;
}
	

/*############ general classes ############*/
.right {
	float:right;}
	
.left {
	float:left;}

.center {
	text-align:center;
}

.hide {
	display: none;
}

.bold {
	font-weight: bold;}

.grey_txt {	
	color: #606060;
}

.thin_italic_grey {
	color: #383838;	
	font-style: italic;
	font-weight:normal;}

.grey_btn {
	background-color: #383838;
	color:#ffffff;
}

.red_btn {
	background-color: red;
	color:#ffffff;
}

.red {
	color:red;
}

.ajaxresponse{
	color: red;
}

.datetimelocal{
	background: none;
}

.ui-input-text{
	border: 0;
}

.errormessage{
	text-align:center;
	border-radius:5px;
	background-color: #f8d7da;
	color: #721c24; 
}

.successmessage{
	text-align:center;
	border-radius:5px;
	color: #155724;
	background-color: #d4edda;
}

.meeting_schedule{
	font-size: 1.5em;
}

#otherprofilestatusresponse{
	display:none;
}
